body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/ff.jpeg'); /* Caminho para a imagem de fundo */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: right; /* Alinha o conteúdo do header à direita */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alinha os itens do nav à direita */
}

nav ul li {
    margin-left: 20px; /* Adiciona espaço entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333; /* Cor do texto */
}

main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, a {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}
h2 {
    text-align: center;
}